@model IEnumerable<NigerianNewsAggregator.Controllers.NewsInfo>

@{
    ViewData["Title"] = "Index";
}


@if (String.IsNullOrEmpty(ViewData["Error"].ToString()))
{
    foreach (var item in Model)
    {
        <div>
            <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
            <a href="@item.Link">
                @Html.DisplayFor(modelItem => item.Summary)
            </a>
            <p>@Html.DisplayFor(modelItem => item.Date)</p>
            <hr />
        </div>
    }
}