body {
    margin: 0;
}

nav {
    text-align: center;
    padding: 20px;
    margin: 0;
    background: forestgreen;
    color: white;
}

h3 {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

a {
    text-decoration: none;
    color: black;
}

    a:hover {
        text-decoration: underline;
    }

    a:visited {
        color: #445544;
    }

.container {
    padding: 10px;
}

@media only screen and (min-width:768px) {
    .container {
        margin: 0 auto;
        width: 50%;
        padding: 8px 0;
    }
}
